<style>
  .queue {
    background-color: #aaa;
  }

  .queue .track {
    background-color: yellowgreen;
  }

  .queue .track form {
    display: inline-block;
  }
</style>

<div class="queue">
  <span>Queue:</span>

  <ol>
    {{#each queue}}
    <li class="track">
      {{!-- <img src="{{img}}" alt=""> --}}
      <span class="title">{{name}}</span>
      <span class="artist">{{artist}}</span>
      <span class="source">{{source}}</span>

      <form action="/api/v1/queue/shift" method="POST" class="shift-up">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="direction" value="up">
        <input type="hidden" name="index" value="{{@index}}">
        <button type="submit" {{#if @first}}disabled{{/if}}>↑</button>
      </form>
      <form action="/api/v1/queue/shift" method="POST" class="shift-down">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="direction" value="down">
        <input type="hidden" name="index" value="{{@index}}">
        <button type="submit" {{#if @last}}disabled{{/if}}>↓</button>
      </form>
    </li>
    {{/each}}
  </ol>
</div>